header {
        background-color: white;
        height: 70px;
        width: 100%;
        border-bottom: 1px #CCCCCC solid;
        position: relative;
        color: blue;
}

.logo {
        /*position: absolute;
        top: 50%;
        transform: translateY(-50%);*/
        background: url(../images/logo.png) no-repeat center;
        margin-left: 20px;
        /*vertical-align: middle;*/
        width: 150px;
        height: 100%;
}